
<div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h1 class="mb-4">About Us</h1>
        <p>Welcome to our Restaurant, your go-to restaurant for delicious Asian and Italian food delivered straight to your door. We pride ourselves on using only the freshest and highest quality ingredients to create mouth-watering dishes that will satisfy your hunger and delight your taste buds.</p>
        <p>Our team of experienced chefs has created a menu that features a wide variety of Asian and Italian dishes, from classic favorites to new and innovative creations. Whether you're in the mood for pizza, pasta, sushi, or stir-fry, we've got you covered.</p>
        <p>At Your Restaurant Name, we're committed to providing exceptional customer service and making your dining experience as enjoyable as possible. That's why we offer easy online ordering and fast, reliable delivery, so you can enjoy our delicious food from the comfort of your own home.</p>
      </div>
      <div class="col-md-6">
        <img src='/assets/img/restaurantkitchen.jpg' class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>